@charset "UTF-8";
/* CSS Document */

body {
	font-size: 14pt;
	font-family: Geneva, Arial, Helvetica,sans-serif, Verdana, ;
	color: #999;
	padding-left: 12pt;
	padding-right: 12pt;
	line-height: 16pt;
}

h1 {
	font: 42pt Helvetica,sans-serif, Verdana, Geneva, Arial;
	line-heigh: 0pt;
	font-weight: 100;
}

h2 {
	font: 18pt Helvetica,sans-serif, Verdana, Geneva, Arial;
	color: #CC3300;
	line-heigh: 6pt;
}
	

p.subheader {
	font-weight: bold;
	color: #CCC;
}

img {
	padding: 6pt;
	float: right;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #8094d6;
}

a:hover, a:active{
	color: #FF9933;
}

div.footer {
	font-size: 8pt;
	line-height: 12pt;
	text-align: center;
	padding-top: 30pt;
	color: #CCC
}

	
	