@charset "UTF-8";
/* CSS Document */

body {
	font-size: 12pt;
	font-family: Verdana, Geneva, Arial, Helvetica,sans-serif;
	color: black;
	line-height: 16pt
	padding-left: 12pt;
	padding-right: 12pt;
	padding-top: 12pt;
}

h1 {
	font: 24pt Verdana, Geneva, Arial, Helvetica,sans-serif;
	font-weight: bold;
	line-height; 30pt
}

p.subheader {
	font-weight: bold;
	color: #CCC;
}

img {
	padding: 6pt;
	float: right;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #8094d6;
}

a:hover, a:active{
	color: #FF9933;
}

div.footer {
	font-size: 8pt;
	font-style: italic;
	line-height: 12pt;
	text-align: center;
	padding-top: 30pt;
	color: #CCC
}

	
	